.product-card {
  margin: 15px;
  background-color: yellow;
}
.product-company {
  color: var(--color-primary-orange);
  text-transform: uppercase;
}
.product-name {
  color: var(--color-secondary-very-dark-blue);
  text-transform: capitalize;
}
.product-description {
}
