.product-card {
  margin: 15px;
  background-color: yellow;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-company {
  color: var(--color-primary-orange);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.product-name {
  color: var(--color-secondary-very-dark-blue);
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 700;
}
.product-description {
  color: var(--color-secondary-dark-grayish-blue);
  line-height: 25px;
}
