.navbar {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: flex-end;
  .navbar-expend {
    //margin-top: auto;
  }
  .navbar-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    .navbar-left {
      .navbar-collapse {
        display: none;
      }
    }
    .navbar-right {
      .navbar-nav {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        .nav-icon img {
          width: 25px;
        }
      }
    }
  }
}
.onhover-cart {
  display: none;
}
